img {
  max-width: 100px;
}
header img {
  padding: 20px;
}
.socials img {
  width: 60px;
}
header, .footer-text {
  display: flex;
  justify-content: space-between;
}
header {
  background-color: #B32F25;
  color: #ffffff;
  max-width: 100%;
}
body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
nav {
  margin-top: 30px;
  margin-right: 30px;
}
.tile {
  background-color:#6F1D13;
  border-radius: 25px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
h3 {
  font-size: 60pt;
  margin-left: 30px;
  color: #ffffff;
}
.main {
  margin-left: 300px;
  margin-right: 300px;
}
.tile p {
  color: #ffffff;
  font-size: medium;
  padding-top: 100px;
  margin-right: 30px;
  margin-left: 40px;
}
button {
  max-height: 40px;
  margin-top: 120px;
  margin-right: 20px;
  border-radius: 10px;
  background-color: #ffffff;
  border: none;
  width: 100px;
}